@media screen and (max-width: 1024px) {
    .header {
        background-position: 400px -30px;
    }

    .header__head {
        font-size: 51px;
        line-height: 62px;
        margin-top: 135px;
        margin-bottom: 70px;
    }

    .header__text {
        font-size: 25px;
        line-height: 35px;
    }

    .section-1__info p {
        font-size: 17px;
    }
    .section-1__info span {
        font-size: 45px;
        line-height: 50px;
    }
    .item-left:after {
        width: 360px;
    }
    .item-left:before {
        left: 360px;
    }
    .item-right:after {
        width: 400px;
    }
    .section-3__download p {
        font-size: 15px;
    }
    .button-inner1, .button-inner2 {
        width: 500px;
    }
    .button-inner1 {
        left: 100px;
    }
    .tabs-imgs {
        margin-left: -135px;
    }
    .tabs-imgs-android {
        margin-left: -385px;
    }
    .scroll-panel {
        display: none;
    }
}

@media screen and (max-width: 812px) {
    
}
@media screen and (max-width: 768px) {
    .nav-link {
        padding: 6px;
    }

    .header__logo {
        margin-top: 36px;
    }

    .header__head {
        font-size: 40px;
        line-height: 48px;
        margin-top: 115px;
        margin-bottom: 35px;
    }
    .header {
        background-position: 210px -5px;
    }

    .header__button {
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .section-1__info p {
        font-size: 16px;
        white-space: nowrap;
    }

    .section-1__info span {
        font-size: 28px;
        line-height: 28px;
    }

    .section-2__header {
        font-size: 43px;
        margin-bottom: 15px;
    }
    .section-2__item p {
        font-size: 14px;
    }
    .section-2 {
        margin-top: 60px;
    }
    .section-3 {
        margin-top: 60px;
    }
    .section-3__header {
        font-size: 40px;
        line-height: 50px;
    }
    .section-3__item {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .ection-3__item-bg,
    .item-left:after,
    .item-left:before,
    .item-right:after,
    .item-right::before {
        display: none;
    }
    .section-3__item h3 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .text-right {
        text-align: start !important;
    }

    .section-3__header {
        margin-bottom: 20px;
    }

    .section-4__header {
        font-size: 35px;
        line-height: 48px;
    }

    .button-inner1, .button-inner2 {
        width: 350px;
        font-size: 14px;

    }
    .buttons-inner {
        margin-left: -150px;
        margin-top: 15px;
    }
    .button-inner1 {
        left: 75px;
    }
    .tabs-imgs {
        margin-left: -95px;
    }
    .tabs-img {
        width: 325px;
    }

    .tabs-text {
        margin-top: 65px;
    }

    .section-5__header {
        font-size: 36px;
        line-height: 47px;
    }
    .section-5 {
        margin-top: 550px;
    }

    .feedback__card {
        margin-top: 15px;
    }

    .section-6__header {
        font-size: 34px;
        line-height: 30px;
    }
    .buttons-inner2 {
        display: flex;
        margin-left: -400px;
        margin-top: 10px;
    }

    .tabs-imgs-android {
        margin-left: -340px;
        margin-right: -184px;
    }

    .tabs-text-android {
        margin-top: 50px;
        margin-left: 340px;
    }

  


    
}

@media screen and (max-width: 736px) {
    
}

@media screen and (max-width: 414px) {
    .header__nav {
        display: none;
    }

    .header__bg {
      background: none;
    }

    .header__head {
        font-size: 25px;
        line-height: 42px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .header__logo {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .header__text {
        font-size: 17px;
        line-height: 25px;
    }
    .header {
        background: none;
    }

    br {
        display: none;
    }

    .header__button {
        margin: 10px 40px;
    }

    .section-1__info {
        min-width: 100%;
    }

    .section-1__info p {
        font-size: 22px;
        margin-top: 20px;
    }

    .section-1__info span {
        font-size: 30px;
    }
    .section-2__header {
        font-size: 28px;
        line-height: 46px;
    }
    .section-2__desc {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .section-2__item {
        min-width: 100%;
    }
    .section-3__header {
        font-size: 25px;
        line-height: 40px;
    }

    .section-3__item h3 {
        margin-top: 15px;
        margin-bottom: 20px;
        font-size: 16px;
    }

    .section-3__item p {
        margin-bottom: 10px;
    }
    .section-3 {
        margin-top: 30px;
    }
    .section-4 {
        margin-top: 50px;
    }
    .section-4__header {
        font-size: 25px;
        line-height: 35px;
    }
    .tab-title {
        width: 200px;
        font-size: 12px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    .tabs-main {
        margin-left: 35px;
        margin-top: 15px;
    }
    .button-inner1, .button-inner2 {
        width: 230px;
        height: 35px;
        font-size: 10px;
    }
    .buttons-inner {
        margin-left: -75px;
        margin-top: 10px;
    }
    .button-inner1 {
        left: 53px;
    }
    .tabs-img {
        display: none;
    }
    .tabs-text {
        min-width: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    .tabs-text {
        font-size: 14px;
    }
    .tabs-btn {
        padding: 10px 80px;
        margin-top: 10px;
    }
    .section-5 {
        margin-top: 380px;
    }
    .section-5__header {
        font-size: 26px;
        line-height: 41px;
    }
    .section-5__desc {
        font-size: 16px;
        line-height: 24px;
    }
    .section-6__header {
        font-size: 25px;
        line-height: 29px;
    }

    .section-6 {
        margin-top: 30px;
    }

    .section-6__desc {
        font-size: 14px;
        line-height: 22px;
    }

    .button-collapse {
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
    }

    .card-body p {
        font-size: 12px;
    }

    .footer__nav {
        display: none;
    }

    .footer__logo,
    .footer__info {
        min-width: 100%;
    }

    .footer {
        margin-top: 40px;
    }

    .footer__info p,
    .footer__info a,
    .footer__rights p,
    .footer__politics a {
        font-size: 14px;
    }

    .buttons-inner2 {
        display: flex;
        margin-left: -275px;
        margin-top: 10px;
    }

    .tabs-text-android {
        margin-left: 135px;
        margin-top: 30px;
    }




    
}

@media screen and (max-width: 375px) {
    .header__head {
        font-size: 22px;
        line-height: 35px;
        margin-top: 0px;
        margin-bottom: 20px;
    }

    .header__text {
        font-size: 19px;
        line-height: 25px;
    }

    .header__button {
        margin: 10px 25px;
    }

    .section-1__info p {
        font-size: 20px;
        margin-top: 10px;
    }
    .section-2 {
        margin-top: 40px;
    }
    .section-3__header {
        font-size: 22px;
        line-height: 30px;
    }
    .section-3__item h3 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-size: 14px;
    }
    .section-3__item p {
        font-size: 14px;
        line-height: 23px;
    }
    .section-4__header {
        font-size: 22px;
        line-height: 31px;
    }
    .button-inner1, .button-inner2 {
        width: 180px;
    }
    .buttons-inner {
        margin-left: -40px;
    }

    .button-inner2 {
        margin-left: 30px;
    }

    .tabs-btn {
        font-size: 14px;
    }
    
    .tabs-text {
        margin-left: 6px;
    }
    .section-5__header {
        font-size: 20px;
        line-height: 30px;
    }
    .section-5__desc {
        font-size: 15px;
        line-height: 20px;
    }
    .section-5 {
        margin-top: 355px;
    }
    .feedback__card p {
        font-size: 14px;
        line-height: 24px;
    }
    .user-name,
    .update {
        font-size: 14px;
    }

    .section-6__header {
        font-size: 19px;
        line-height: 27px;
    }

    .btn:not(:disabled):not(.disabled) {
        cursor: pointer;
        padding: 0;
    }

    .buttons-inner2 {
        margin-left: -240px;
    }

    .tabs-text-android {
        margin-left: 142px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 320px) {
    .header__head {
        font-size: 19px;
    }

    .header__text {
        font-size: 16px;
        line-height: 23px;
    }

    .header__button {
        margin: 10px 0px;
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 65px;
        padding-right: 64px;
    }
    .section-1 {
        margin-top: 10px;
    }

    .section-1__info p {
        font-size: 18px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .section-2__header {
        font-size: 24px;
        line-height: 30px;
    }
    .section-2__desc {
        font-size: 15px;
        margin-bottom: 20px;
    }
    .section-3__header {
        font-size: 20px;
        line-height: 28px;
    }
    .section-4__header {
        font-size: 19px;
        line-height: 28px;
    }

    .tab-title {
        width: 170px;
        font-size: 11px;
    }
    .button-inner1, .button-inner2 {
        width: 152px;
        font-size: 8px;
    }

    .tabs-text h5 {
        font-size: 15px;
    }
    .tabs-btn {
        font-size: 9px;
    }
    .section-5__header {
        font-size: 18px;
        line-height: 26px;
    }
    .section-5__desc {
        text-align: left;
    }
    .section-6__desc {
        line-height: 19px;
        text-align: start;
    }

    .section-6__header {
        font-size: 14px;
        line-height: 15px;
    }
    .button-collapse {
        line-height: 25px;
        text-align: start;
    }

    .card-header:first-child {
        padding: 0;
    }
    .buttons-inner2 {
        margin-left: -210px;
    }
    .tabs-text-android {
        margin-left: 210px;
        margin-top: 30px;
        margin-right: -115px;
    }

}